.relative {
	position: relative;
}

.dropdown {
	&-button {
		display: inline-block;
		position: relative;
		width: 14em;
		margin-right: 0.1em;
		padding: 0.4em 1em;
		overflow: visible;
		border: 1px solid #c5c5c5;
		border-top-right-radius: 3px;
		border-top-left-radius: 3px;
		background: #f6f6f6;
		color: #454545;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 1em;
		font-weight: normal;
		line-height: normal;
		text-align: left;
		text-decoration: none;
		vertical-align: middle;
		white-space: nowrap;
		cursor: pointer;
		user-select: none;
	}
	&-icon {
		position: relative;
		width: 16px;
		height: 16px;
		margin-top: 0;
		float: right;
		overflow: hidden;
		background-image: url("/assets/ui-icons_777777_256x240.png");
		background-position: -65px -16px;
		background-repeat: no-repeat;
		text-indent: -99999px;
	}
	&-text {
		display: block;
		margin-right: 20px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	&-list {
		display: block;
		max-height: 20vh;
		margin: 0;
		padding: 0;
		overflow: auto;
		overflow-x: hidden;
		border: 1px solid #c5c5c5;
		border-bottom-right-radius: 3px;
		border-bottom-left-radius: 3px;
		outline: 0;
		background: #ffffff;
		color: #333333;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 1em;
		list-style: none;
		&-container {
			display: block;
			z-index: 100;
			position: absolute;
			width: calc(100% - 2px);
			margin: 0;
			padding: 0;
		}
		&-item {
			margin: 0;
			cursor: pointer;
			&:hover {
				margin: -1px;
				border: 1px solid #003eff;
				background: #007fff;
				color: #ffffff;
				font-weight: normal;
			}
			&-wrapper {
				position: relative;
				padding: 3px 1em 3px 0.4em;
				&:hover {
					background: #007fff;
					color: #ffffff;
					cursor: pointer;
				}
				&.current-selection {
					background: #33aaff;
					box-shadow: #178fe5 0 1px 3px 0 inset;
					color: #fff;
					font-weight: 700;
				}
			}
		}
	}
}
