@import "../../variables.scss";

button {
	&.button {
		padding: 0.4rem 0.75rem;
		border: 1px solid transparent;
		border-radius: 0.25rem;
		background-color: $primary-color;
		color: $light-color;
		font-size: 1rem;
		line-height: 1.5;
		cursor: pointer;
		transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
		&:hover {
			border-color: $secondary-color;
			background-color: $tertiary-color;
			color: $light-color;
		}
		&:focus {
			box-shadow: 0 0 0 0.2rem rgba(147, 173, 24, 0.5);
		}
	}
}
